/*------css variables--------*/

:root{
    --body-bg:hsl(30, 54%, 90%);
    --card-bg: hsl(0, 0%, 100%);
    --text-color: hsl(24, 5%, 18%);
    --h2-color: hsl(14, 45%, 36%);
    --sec1-bkg-color:  hsl(340, 100%, 99%);
    --sec1-p-color: hsl(332, 51%, 32%);
    --td-color: hsl(14, 45%, 36%);
}

html{
    font-size: 62.5%;
}

@font-face{
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype"); font-weight: 400,600,700;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype"); font-weight: 400;
}

/*-----------reset--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--body-bg);
    font-family: 'Outfit', 'Young Serif', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
}
/*-----------container----------*/
.recipe-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    padding: 2rem;

    background-color: var(--card-bg);
    border-radius: 25px;
}
/*--------------content styling---------------*/
/*--------header--------*/
.recipe-img-container{
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.recipe-img{
    width: 100%;
}

.recipe-header h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.recipe-header p{
    margin-bottom: 1rem;
    padding:0 0.5rem 0 0;
}
/*-------section1-------*/
#section-1{
    align-self: stretch;
    padding: 2rem;
    background-color: var(--sec1-bkg-color);
    border-radius: 15px;
}

#section-1 p{
    color: var(--sec1-p-color);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.prep{
    list-style-position: inside;
    padding-left: 0.5rem;
}

.prep li{
    margin-bottom: 0.5rem;
}



/*-----section2 $ 3---------*/

#section-2, #section-3{
    border-bottom: 1px solid var(--td-color);
}
.ingre, .instru{
    list-style-position: outside;
    padding-left: 0.5rem;

}

.ingre li, .instru li{
    margin-bottom: 0.5rem;
}


/*--------section4-------*/
#section-4 p{
    margin-bottom: 0.5rem;
}

.nutrition-table{
    width: 100%;
    border-collapse: collapse;
    padding: 2rem;
}

.nutrition-table th, .nutrition-table td{
    text-align: left;
    padding: 0.5rem;
}

.nutrition-table td{
    color: var(--td-color);
}

.nutrition-table tr{
    border-bottom: 1px solid var(--td-color);
}
/*-----components-------*/

#section-2, #section-3, #section-4{
    align-self: stretch;
    padding: 1rem;
}
h2{
    color: var(--h2-color);
    font-size: 2rem;
    margin-bottom: 1rem;

}
